*.o
TP1/all
TP1/nohup.out
bin/ps
drive_sys/dfs
drive_sys/dmps
drive_sys/dvol
drive_sys/frmt
drive_sys/if_cfile
drive_sys/if_dfile
drive_sys/if_nfile
drive_sys/if_pfile
drive_sys/mkhd
drive_sys/mknfs
drive_sys/mkvol
mmu/matmul/.swap_file
mmu/matmul/mmu_manager
mmu/matmul/oracle
mmu/matmul/vdiskA.bin
mmu/matmul/vdiskB.bin
*.bin
all
